<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/f4230ae877.js" crossorigin="anonymous"></script>
    <!--Fuente-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>

<header>
    <!--Nav-->
    <nav>
        <div class="tophead">
        <img id="logo" src="img/logo-mercado-liebre.svg" alt="logoml">
        
        <div id="caja-busqueda">
        <input id="busqueda-input"><button id="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <p><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de crédito</p>

    </div>
        <ul class="ul-nav">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="ul-cuenta">
            <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
            <li><a href="#">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
    </nav>
</header>

<body>
    <!--Form-->
    <main>
        <div class="caja-general">
        <h2 class="s-titulo r-titulo">Ingresa a tu cuenta</h2>
        <form action="">
            <input type="text" placeholder="Nombre de usuario" name="nombre" class="i-first">
            <input type="password" placeholder="Contraseña" name="usuario" class="i-first">
            <button class="r-but">Ingresar</button>
        </form>
    </div>

    </main>

    <!--Footer-->
    <footer>
        <div class="footdiv">

        <div class="f-section">
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h4 class="descripciones">Pagá con tarjeta o efectivo</h4>
            <p class="ctexto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        </div>

        <div class="f-section">
        <section>
            <i class="fa-solid fa-gift"></i>
            <h4 class="descripciones">Envío gratis desde $2500</h4>
            <p class="ctexto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        </div>

        <div class="f-section">
        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h4 class="descripciones">Seguridad de principio a fin</h4>
            <p class="ctexto">¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        </div>
        </div>

        <section class="copy">
            <p>Copyright © 1999 - 2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>



</body>


</html>